<div class="d-flex justify-content-center mt-5 gap-5" >
    <div class="border border-2 rounded shadow-sm p-4 w-25" >
        <h1>Cities: </h1>
        <ul>
            <li *ngFor = "let weather of allWeather">
                {{weather.city}}
            </li>
        </ul>
    </div>
    <div class="p-4 border border-2 rounded shadow-sm w-50 text-center">
        <h1>Weather</h1>
        <form (ngSubmit)="searchWeather()" class="d-flex gap-3 mt-3">
            <input class="form-control" type="text" [(ngModel)]="city" name="city" placeholder="Enter City">
            <button class="btn btn-primary">Search</button>
        </form>

        <div *ngFor="let weather of oneWeather" class="border border-2 bg-light mt-4 rounded p-4">
            <h2>{{weather.city}} Weather</h2>
            <p>{{weather.weather}}</p>
            <img src={{weather.image}} alt="" class="w-25 mt-3" >
        </div>
    </div>
</div>


